<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <!--<add name="MySisRapor.Properties.Settings.ElektrometreServer17817" connectionString="Data Source=.\sqlexpress;Initial Catalog=ElektrometreServer17817;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnStr" connectionString="Data Source=.\sqlexpress;Initial Catalog=ElektrometreServer17817;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="ConnStr" connectionString="Data Source=ender.cloudapp.net;Initial Catalog=Elektrometreserver17817;Persist Security Info=True;User ID=ender;Password=ser-9274" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReportServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="MySisEvo.Web.KullaniciServis.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="MySisEvo.Web.AracServis.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="MySisEvo.Web.DataServis.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="MySisEvo.Web.SessionServis.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="MySisEvo.Web.CihazlarServis.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="MySisEvo.Web.KullaniciServis">
        <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.KullaniciServis.customBinding0"
          contract="MySisEvo.Web.KullaniciServis" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="MySisEvo.Web.AracServis">
        <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.AracServis.customBinding0"
          contract="MySisEvo.Web.AracServis" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="MySisEvo.Web.DataServis">
        <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.DataServis.customBinding0"
          contract="MySisEvo.Web.DataServis" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ReportServiceBehavior" name="Telerik.Reporting.Service.ReportService">
        <endpoint address="" binding="basicHttpBinding" contract="Telerik.Reporting.Service.IReportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="resources" behaviorConfiguration="WebBehavior"
          binding="webHttpBinding" contract="Telerik.Reporting.Service.IResourceService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="MySisEvo.Web.SessionServis">
        <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.SessionServis.customBinding0"
          contract="MySisEvo.Web.SessionServis" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="MySisEvo.Web.CihazlarServis">
        <endpoint address="" binding="customBinding" bindingConfiguration="MySisEvo.Web.CihazlarServis.customBinding0"
          contract="MySisEvo.Web.CihazlarServis" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>